.root {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
}

.number {
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  font-size: 11px;
  line-height: 1;
  text-align: center;
}
